.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f5f4ef;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 410px;
  width: 30vw;
  margin-top: 8%;
  margin-bottom: 10%;
}

.head {
  background-color: white;
  border: 2px solid #b3b0a6;
  border-radius: 7px;
  text-align: center;
}

.head h3 {
  margin: 5px 0px 8px 0px;
  font-size: 27px;
  font-weight: bold;
  color: #3d3929;
}

.form {
  background-color: #eceadf;
  border: 2px solid #b3b0a6;
  border-radius: 7px;
  margin-top: 15px;
  padding: 30px;
}
